body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
}

header h1 {
  color: #495e57;
  font-size: 48px;
}

header h2 {
  color: #f4ce14;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid gray;
}

button {
  background-color: #495e57;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #354842;
}

@media (max-width: 768px) {

  .container {
    width: 90%;
  }

}